/*  your css code here. If applicable */
body {
      background-color: rgb(204, 204, 204);
    }
#box
{
	width:600px;
	height:700px;
	background-color:rgb(204,204,204);
}

#my_playlist{
	
	text-align:center;
}

#box1{
	border:1px solid black;
	border-radius:15px;
	width:500px;
	height:150px;
	background-color:white;
	margin-left:50px;
	line-height:150%;
}

#box2{
	 border: 1px solid black;
	 border-radius:15px;
	 width:500px;
	 height:450px;
	 background-color:white;
	 margin-left:50px;
	
	
}

.player_one, .player_two {
      background-color: rgb(255, 255, 255);
      padding: 20px;
      border-radius: 10px;
      width: max-content;
      margin: 20px auto;
    }